{% extends 'base.html' %}
{% block content %}
<div>
    <div class="container-fluid" style="height: 100vh;">
        <div class="row hero-heading" style="height: 85vh;">
            <div class="col" style="margin: auto;" >
                <h1 style="font-size: 190px;margin: auto !important;text-align: center;">collaborate
                    with industry</h1>
            </div>
            <div class="col" style="margin: auto;">
                <h3 style="margin: auto !important;text-align: center;">we provide opportunities for
                    learners and providers</h3>
            </div>
        </div>
    </div>
    <div class="container" style="height: 100px; background-color   : rgb(153, 185, 175);">
        kajhdasjhd
    </div>
</div>
{% endblock %}