{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="height: 100vh;">
    <h1>Mentors</h1>
    {% for mentor in mentors %}
    <div class="card" onclick="window.location='/mentor/{{mentor.username}}'" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{mentor.username}}</h5>
              <p class="card-text">{{mentor.first_name}} {{mentor.last_name}}</p>
              <p class="card-text">        {{mentor.phone_number}} 
            </p>
              <p class="card-text">{{mentor.city}} {{mentor.state}} {{mentor.country}}</p>
              <p class="card-text">{% if not mentor.is_mentor %}mentor{%else%} Mentee{%endif%}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
    {% endfor %}
</div>
{% endblock %}