{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="height: 100vh;">
  <div class="row hero-heading" style="height: 85vh;">
    <h2 style="text-align: center;">
      {% if request.user.is_mentor %}Mentor{%else%}Mentee{%endif%} Profile</h2>
    <div class="card mx-auto my-2" style="width: 28rem;">
      <img src="..." class="card-img-top p-3" alt="...">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{request.user.username}}</h5>
            </div>
            <div class="col">
              <p class="card-text">{{request.user.first_name}} {{request.user.last_name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text"> {{request.user.phone_number}}
              </p>
            </div>
            <div class="col">
              <p class="card-text"> {{request.user.email}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!-- Button trigger modal -->

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card col-6 mx-auto my-2">
              <div class="p-3">
                <h5 class="card-title mx-auto" style="text-align: center;">Your Skills</h5>
                <div class="row row-cols-5 my-4">
                  {% for i in user_skills %}
                  <div class="card grid mx-4 my-2">{{i}}</div>
                  {% endfor %}
                </div>
                <div style="display: block;" class="modal-footer">
                  <button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal"
                    data-bs-target="#AddSkillsModal">
                    Add Skills
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal"
              data-bs-target="#SessionsModal">
              Sessions
            </button>
          </div>
        </div>
      </div>

      <h2 style="text-align: center;">Notifications</h2>
      <div class="container"  >
        <table>
          <thead>
            <tr>
              <th>slno</th>
              <th>Notification</th>
            </tr>
          </thead>
          <tbody>
           
        {% for i in notification_list %}
        <tr>0</tr>
        <tr>
              
            
          {{i.message}}
      </tr>
        {% endfor %}
         
          </tbody>
        </table>
      </div>
      <!-- Sessions Modal -->

      <div class="modal fade" style="color: black;" id="SessionsModal" tabindex="-1"
        aria-labelledby="SessionsModalLabel" aria-hidden="true">
        <form method="post">
          {%csrf_token%}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="SessionsModalLabel">Sessions</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <div>
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link btn btn-primary" aria-current="page" style="color: black;" id="sessionsID"
                        onclick="
                        document.getElementById('Sessions').style.display='table';
                        document.getElementById('Sessions').style.textAlign='center';
                        document.getElementById('slots').style.display='none';">Sessions</a>
                    </li>
                    {% if request.user.is_mentor %}
                    <li class="nav-item">
                      <a class="nav-link btn btn-outline-primary" id="slotsID" onclick="
                      document.getElementById('slots').style.display='block';
                      document.getElementById('Sessions').style.display='none';">Slots</a>
                    </li>
                    {% endif %}
                  </ul>
                  <table style="text-align: center;" id="Sessions" class="table table-striped">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    {% for i in sessions_list %}
                    <tr>
                      <td>
                        {{i.session_date}}</td>
                      <td>
                        {{i.session_time}}</td>
                      <td>
                        {%for mentee in i.mentee.all.values%}
                        {{ mentee.username }}
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                    {% if sessions_list|length == 0 %}
                    <tr>
                      <td colspan="3">
                        No sessions available
                      </td>
                    </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
              {% if request.user.is_mentor %}
              <div class="modal-footer m-2" style="display: none;" id="slots">
                <div class="container">
                  {% for i in mentor_slots %}
                  <button class="btn btn-warning">
                    {{i}}
                  </button>
                  {% endfor %}
                </div>


              </div>
              {% endif %}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Add Skills Modal -->
      <div class="modal fade" style="color: black;" id="AddSkillsModal" tabindex="-1"
        aria-labelledby="AddSkillsModalLabel" aria-hidden="true">
        <form method="post" onsubmit="window.location.reload();">
          {%csrf_token%}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddSkillsModalLabel">Add Skills</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <label for="skills">Skills</label>
                <select name="skills" style="width: 20rem;" Multiple class="selectpicker"
                  aria-label="Default select example">
                  {% for skill in skills %}
                  <option style="color: black;" 
                            
                            value="{{skill.skill_id}}">{{skill.skill}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update Skills</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  {% for i in skills %}
  console.log("{{i}}");
  {% endfor %}
  $(document).ready(function () {

    $('.selectpicker').select2({
      dropdownParent: $('#AddSkillsModal')
    });
    $('.selectpicker').val({{selectList}}).trigger('change');
   

  });
</script>
{% endblock %}